<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>searchBar}}

        <div class="centralized">
            {{#each cities}}
            <div class="city"><a
                    href="/weather?latitude={{this.center.[1]}}&longitude={{this.center.[0]}}&location={{this.place_name}}">{{ this.place_name }}</a>
            </div>
            {{/each}}
        </div>


    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>