<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>searchBar}}

        <div class="centralized">
            <p>{{message1}}</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>