<footer>
    <p>Created by <a href="https://vccolombo.github.io/">Víctor Colombo</a></p>
    <p>Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a> and <a href="https://www.mapbox.com/">Mapbox</a></p>
</footer>