<div class="search-bar centralized">
    <p>Get the current weather in your location!</p>
    <form action="/find">
            <input placeholder="Location" name="search">
            <button>Search</button>
    </form>
</div>