body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-size: 14px;
    color: #777777;
}

.main-content {
    flex-grow: 1;
}

.centralized {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

.search-bar {
    margin: 24px auto;
}

.city {
    margin: 12px auto;
}

.city a {
    color: #333333;
}

.weather-items {
    border: 1px solid #dddddd;
    width: 100%;
}

.weather-item td {
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
}

.flex {
    display: flex;
}

.font-70 {
    font-size: 70px;
    color: #333333;
}

.margin-30 {
    margin-left: 30px;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    color: #eeeeee;
    background-color: #333333;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 16px;
    text-align: center;
}

header {
    color: #eeeeee;
    background-color: #333333;
    text-align: center;
    padding: 16px;
}

header a {
    color: #eeeeee;
    margin-right: 48px;
    text-decoration: none;
}

footer a {
    color: #888888;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}